beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
cookies==2.2.1
CurrencyConverter==0.13.3
forecastiopy==0.22
forex-python==0.3.3
googletrans==2.2.0
idna==2.6
oxr-client==0.1.0
pycbrf==0.1.0
PyCurrency-Converter==1.0
pyowm==2.8.0
pyTelegramBotAPI==3.6.2
python-forecastio==1.4.0
requests==2.18.4
responses==0.9.0
simplejson==3.13.2
six==1.11.0
urllib3==1.22
weather-api==1.0.2
